.item {
  display: flex;
  align-items: center;
}
.list {
  padding-left: 0;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.input {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  width: 30%;
}
.label {
  display: flex;
  flex-direction: column;
}
.text {
  margin: 0;
  display: inline-block;
}
.button {
  margin-left: 20px;
  background-color: transparent;
  color: rgb(244, 237, 244);
  border: 1px solid rgb(238, 214, 238);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  transition: all linear 250ms;
  &:hover {
    background-color: purple;
    color: #fff;
  }
}
