.nav {
  width: 100%;

}
.list {
  list-style: none;
  display: flex;
}

.link {
  border-radius: px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  transition: all linear 250ms;
  &:hover {
    background-color: grey;
  }
}

.link:global(.active) {
  color: rgb(98, 129, 130);
}
