.App {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  color: rgb(47, 47, 173);
  min-height: 100vh;
  background: rgb(237, 227, 227);
}
